In [7]:
import warnings
warnings.simplefilter('ignore')

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.model_selection import train_test_split

ImportError: No module named 'sklearn.model_selection'

In [ ]:
!conda install scikit-learn

Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: ....
Solving package specifications: .........

Package plan for installation in environment /home/ni2633244/anaconda3:

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-env-2.6.0            |                0          502 B
    mkl-rt-11.1                |               p0       100.2 MB
    sqlite-3.13.0              |                0         4.0 MB
    xz-5.2.2                   |                0         644 KB
    python-3.5.4               |                0        15.9 MB
    mkl-service-1.1.0          |          py35_p0          25 KB
    numpy-1.10.2               |          py35_p0         5.8 MB
    requests-2.12.4            |           py35_0         800 KB
    ruamel_yaml-0.11.14        |           py35_1         395 KB
    numexpr-2.4.4              |     np110py35_p0         334 KB
    scipy-0.16.1               |     np110py35_p0        23.2 MB
    cryptography-1.4           |           py35_0         903 KB
    scikit-learn-0.17          |     np110py35_p1         8.8 MB
    mkl-11.1                   |     np110py35_p1           4 KB
    pyopenssl-16.2.0           |           py35_0          70 KB
    conda-4.3.30               |   py35hf9359ed_0         516 KB
    ------------------------------------------------------------
                                           Total:       161.6 MB

The following NEW packages will be INSTALLED:

    mkl-rt:       11.1-p0
    ruamel_yaml:  0.11.14-py35_1

The following packages will be UPDATED:

    conda:        4.0.5-py35_0       --> 4.3.30-py35hf9359ed_0
    conda-env:    2.4.5-py35_0       --> 2.6.0-0
    cryptography: 1.3-py35_0         --> 1.4-py35_0
    pyopenssl:    0.15.1-py35_2      --> 16.2.0-py35_0
    python:       3.5.1-0            --> 3.5.4-0
    requests:     2.9.1-py35_0       --> 2.12.4-py35_0
    sqlite:       3.9.2-0            --> 3.13.0-0
    xz:           5.0.5-1            --> 5.2.2-0

The following packages will be DOWNGRADED:

    mkl:          11.3.1-0           --> 11.1-np110py35_p1
    mkl-service:  1.1.2-py35_0       --> 1.1.0-py35_p0
    numexpr:      2.5-np110py35_0    --> 2.4.4-np110py35_p0    [mkl]
    numpy:        1.10.4-py35_1      --> 1.10.2-py35_p0        [mkl]
    scikit-learn: 0.17.1-np110py35_0 --> 0.17-np110py35_p1     [mkl]
    scipy:        0.17.0-np110py35_2 --> 0.16.1-np110py35_p0   [mkl]

Proceed ([y]/n)?

In [3]:
df = pd.read_csv('auto-mpg.data', header=None, sep='  +|\t', na_values = '?')
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']
df.head()

,mpg,displacement,horsepower,weight,acceleration,car name,cylinders_3,cylinders_4,cylinders_5,cylinders_6,...,model year_76,model year_77,model year_78,model year_79,model year_80,model year_81,model year_82,origin_1,origin_2,origin_3
0,18.0,307.0,130.0,3504.0,12.0,"""chevrolet chevelle malibu""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,15.0,350.0,165.0,3693.0,11.5,"""buick skylark 320""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,18.0,318.0,150.0,3436.0,11.0,"""plymouth satellite""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,16.0,304.0,150.0,3433.0,12.0,"""amc rebel sst""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,17.0,302.0,140.0,3449.0,10.5,"""ford torino""",0,0,0,0,...,0,0,0,0,0,0,0,1,0,0