In [183]:
import numpy as np
import pandas as pd
np.random.seed(5)
titanic_bf = pd.read_csv('./titanic/train.csv')
print(len(titanic_bf.index))
col = np.random.randint(0, len(titanic_bf.index), 10);
print(col);
titanic_bf_part = titanic_bf.iloc[np.random.randint(0, len(titanic_bf.index), 10)]
print(titanic_bf_part)
print(titanic_bf.head())
#print(titanic_bf_part)
#print(titanic_bf_part.groupby(['Sex', 'Survived']).mean())

891
[867 206 701 118 400  73   8 740 743 411]
     PassengerId  Survived  Pclass  \
624          625         0       3
670          671         1       2
720          721         1       2
519          520         0       3
204          205         1       3
113          114         0       3
437          438         1       2
80            81         0       3
27            28         0       1
44            45         1       3

                                                  Name     Sex   Age  SibSp  \
624                        Bowen, Mr. David John "Dai"    male  21.0      0
670  Brown, Mrs. Thomas William Solomon (Elizabeth ...  female  40.0      1
720                  Harper, Miss. Annie Jessie "Nina"  female   6.0      0
519                                Pavlovic, Mr. Stefo    male  32.0      0
204                           Cohen, Mr. Gurshon "Gus"    male  18.0      0
113                            Jussila, Miss. Katriina  female  20.0      1
437              Richards, Mrs. Sidney (Emily Hocking)  female  24.0      2
80                                Waelens, Mr. Achille    male  22.0      0
27                      Fortune, Mr. Charles Alexander    male  19.0      3
44                       Devaney, Miss. Margaret Delia  female  19.0      0

     Parch    Ticket      Fare        Cabin Embarked
624      0     54636   16.1000          NaN        S
670      1     29750   39.0000          NaN        S
720      1    248727   33.0000          NaN        S
519      0    349242    7.8958          NaN        S
204      0  A/5 3540    8.0500          NaN        S
113      0      4136    9.8250          NaN        S
437      3     29106   18.7500          NaN        S
80       0    345767    9.0000          NaN        S
27       2     19950  263.0000  C23 C25 C27        S
44       0    330958    7.8792          NaN        Q

In [171]:
len?