In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [3]:
np.random.randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [4]:
"A B C D E".split()

['A', 'B', 'C', 'D', 'E']

In [5]:
"W X Y Z".split()

['W', 'X', 'Y', 'Z']

In [6]:
df = pd.DataFrame(np.random.randn(5,4), index=['A', 'B', 'C', 'D', 'E'], 
                 columns=['W', 'X', 'Y', 'Z'])

In [7]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [8]:
df["W"]

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [9]:
df["W"] + df["X"]

A    1.996388
B    0.255687
C    0.880666
D   -1.251174
E    1.784981
dtype: float64

In [11]:
cols = ["W", "X"]
df[cols]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528
C  0.807706  0.072960
D -0.497104 -0.754070
E -0.116773  1.901755

In [12]:
type(df[cols])

pandas.core.frame.DataFrame

In [13]:
df[["W","X"]]

          W         X
A  0.302665  1.693723
B -0.134841  0.390528
C  0.807706  0.072960
D -0.497104 -0.754070
E -0.116773  1.901755

In [14]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [15]:
df["new"] = df["W"] + df["Y"]

In [16]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [17]:
df.drop("new", axis=1)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [18]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [19]:
df.drop("new", axis=1, inplace=True)

In [20]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [21]:
df.drop("E", axis=0)

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752

In [22]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [23]:
df.loc["B"]

W   -0.134841
X    0.390528
Y    0.166905
Z    0.184502
Name: B, dtype: float64

In [24]:
df.iloc[1]

W   -0.134841
X    0.390528
Y    0.166905
Z    0.184502
Name: B, dtype: float64

In [25]:
df.loc["B","Y"]

0.16690463609281317

In [26]:
df.iloc[1,2]

0.16690463609281317

In [27]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [28]:
df > 0

       W      X      Y      Z
A   True   True  False  False
B  False   True   True   True
C   True   True   True   True
D  False  False  False   True
E  False   True   True   True

In [29]:
df[df > 0]

          W         X         Y         Z
A  0.302665  1.693723       NaN       NaN
B       NaN  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D       NaN       NaN       NaN  0.484752
E       NaN  1.901755  0.238127  1.996652

In [30]:
df["W"] > 0

A     True
B    False
C     True
D    False
E    False
Name: W, dtype: bool

In [31]:
df[df["W"] > 0]

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
C  0.807706  0.072960  0.638787  0.329646

In [35]:
df1 = pd.DataFrame({
    "ss":["asas","asasas","dsdsds"],
    "dd":["qwe", "df", "fdf"]
})

In [38]:
df1

       ss   dd
0    asas  qwe
1  asasas   df
2  dsdsds  fdf

In [39]:
df1["ss"] == "asas"

0     True
1    False
2    False
Name: ss, dtype: bool

In [40]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [41]:
df["P"] = [3,4,2,1,3]

In [42]:
df

          W         X         Y         Z  P
A  0.302665  1.693723 -1.706086 -1.159119  3
B -0.134841  0.390528  0.166905  0.184502  4
C  0.807706  0.072960  0.638787  0.329646  2
D -0.497104 -0.754070 -0.943406  0.484752  1
E -0.116773  1.901755  0.238127  1.996652  3

In [43]:
df[df["W"] > 0][["X","Y"]]

          X         Y
A  1.693723 -1.706086
C  0.072960  0.638787

In [44]:
df[(df["W"] > 0) & (df["Y"] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z, P]
Index: []

In [45]:
df.iloc[:,2]

A   -1.706086
B    0.166905
C    0.638787
D   -0.943406
E    0.238127
Name: Y, dtype: float64

In [46]:
df.reset_index()

  index         W         X         Y         Z  P
0     A  0.302665  1.693723 -1.706086 -1.159119  3
1     B -0.134841  0.390528  0.166905  0.184502  4
2     C  0.807706  0.072960  0.638787  0.329646  2
3     D -0.497104 -0.754070 -0.943406  0.484752  1
4     E -0.116773  1.901755  0.238127  1.996652  3

In [47]:
newind = "CA NY WY OR CO".split()

In [48]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [54]:
df["States"] = newind

In [50]:
df.reset_index().set_index("States")

       index         W         X         Y         Z  P
States
CA         A  0.302665  1.693723 -1.706086 -1.159119  3
NY         B -0.134841  0.390528  0.166905  0.184502  4
WY         C  0.807706  0.072960  0.638787  0.329646  2
OR         D -0.497104 -0.754070 -0.943406  0.484752  1
CO         E -0.116773  1.901755  0.238127  1.996652  3

In [52]:
df

               W         X         Y         Z  P
States
CA      0.302665  1.693723 -1.706086 -1.159119  3
NY     -0.134841  0.390528  0.166905  0.184502  4
WY      0.807706  0.072960  0.638787  0.329646  2
OR     -0.497104 -0.754070 -0.943406  0.484752  1
CO     -0.116773  1.901755  0.238127  1.996652  3

In [55]:
df.set_index("States", inplace=True)

In [56]:
df

               W         X         Y         Z  P
States
CA      0.302665  1.693723 -1.706086 -1.159119  3
NY     -0.134841  0.390528  0.166905  0.184502  4
WY      0.807706  0.072960  0.638787  0.329646  2
OR     -0.497104 -0.754070 -0.943406  0.484752  1
CO     -0.116773  1.901755  0.238127  1.996652  3

In [57]:
outside = "G1 G1 G1 G2 G2 G2".split()
inside =  [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))

In [58]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [59]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [60]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [61]:
df = pd.DataFrame(np.random.randn(6,2),
                  index=hier_index,
                  columns=["A","B"])

In [62]:
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

In [63]:
df.loc["G1"]

          A         B
1 -0.993263  0.196800
2 -1.136645  0.000366
3  1.025984 -0.156598

In [64]:
df.loc["G1"].loc[1]

A   -0.993263
B    0.196800
Name: 1, dtype: float64

In [65]:
df.index.names = ["Group","Num"]

In [66]:
df

                  A         B
Group Num
G1    1   -0.993263  0.196800
      2   -1.136645  0.000366
      3    1.025984 -0.156598
G2    1   -0.031579  0.649826
      2    2.154846 -0.610259
      3   -0.755325 -0.346419